mixin history()
    -
        let histories = [
                {
                    img: 'history-1',
                    title: 'Работал в сфере услуг',
                    subtitle: 'С 80 000 до 240 000 тенге/мес.',
                    detail: [
                        'Айдар Уаликеев',
                        '28 лет, Алматы, Казахстан',
                    ]
                },
                {
                    img: 'history-2',
                    title: 'Работал в банке, но ушел после выгорания',
                    subtitle: 'С 420 000 до 600 000 тенге/мес. ',
                    detail: [
                        'Всеволод Козлов',
                        '34 лет, Нур-Султан, Казахстан',
                    ]
                },
                {
                    img: 'history-3',
                    title: 'Не стала работать в государственной школе',
                    subtitle: 'С 0 до 350 000 тенге/мес.',
                    detail: [
                        'Виктория Олиярник',
                        '24 года, Усть-Каменегорск, Казахстан',
                    ]
                },
            ]
        let i = .2

    section.history.section(id="history")
        .section__container
            .section__row
                .section__content
                    h3.section__title Истории успеха
                    .history__items
                        each val, index in histories
                            .history__item.card.card_pink(class="wow animate__slideInUp" data-wow-duration=`${i=i+.4}s`)
                                a.history__card-wrp(href="")
                                    .card__img
                                        +webp(val.img, 'jpg')
                                    .card__inner
                                        h3.card__title= val.title
                                        h4.card__subtitle= val.subtitle
                                        each value, index in val.detail
                                            p.card__detail= value
                        .history__item.history__item_form.card.card_pink.card_bg_transparent(class="wow animate__slideInUp" data-wow-duration=`${i=i+.4}s`)
                            .card__img.history__card-img
                                +icon('card-icon', className="card__item-svg", vb = "0 0 160 160")
                            .card__inner
                                h3.card__title Хочу так же!
                                form.input.input_btn.history__form.form_flex(data-activity="Хочу также")
                                    label.input__label( for="")
                                        input.input__field(placeholder="Ваше полное имя" name="name" type="text" required)
                                    label.input__label(for="")
                                        input.input__field(placeholder="Адрес электронной почты" name="email" type="email" required)
                                    label.input__label(for="")
                                        span.input__info
                                        input.input__field(placeholder="Номер телефона" name="phone" type="tel" required)
                                    button.history__btn.btn.btn_theme_filled.btn_size_normal.ga7 Записаться
