mixin socials({className = false} = false)
    section.socials.section(class=className)
        .section__container
            .section__row
                .section__content
                    - i = 1;
                    h2.section__title.socials__title(class="wow animate__fadeInLeft" data-wow-duration=`${i=i+.2}s`) ОСТАЛИСЬ ВОПРОСЫ?
                    h3.section__subtitle.socials__subtitle(class="wow animate__fadeInLeft" data-wow-duration=`${i=i+.2}s`) Мы вам непременно ответим
                    ul.socials__links(class="wow animate__fadeInLeft" data-wow-duration=`${i=i+.2}s`)
                        li.socials__link
                            a.btn.btn_theme_insta.btn_soc.btn_size_normal(class=`ga${g+=1}` href="https://wa.me/79101510855")
                                +icon('insta', 'btn__icon')
                                |   Instagram
                        li.socials__link
                            a.btn.btn_theme_whatsapp.btn_soc.btn_size_normal(class=`ga${g+=1}` href="https://wa.me/79101510855")
                                +icon('whatsapp', 'btn__icon')
                                |   Whatsapp
                        li.socials__link
                            a.btn.btn_theme_telegram.btn_soc.btn_size_normal(class=`ga${g+=1}` href="https://t.me/79101510855")
                                +icon('telegram', 'btn__icon')
                                |   Telegram
