mixin structure()
    -
        let slider = [
            {
                title: 'Про что урок',
                list: [
                    'Рынок информационных сайтов, сколько и как на них можно заработать?',
                    'Почему сайты могут создавать любой желающий?',
                    'Каким будет рост вашего сайта?',
                    'Как правильно выбрать направление для вашего будещего сайта?'
                ]
            },
            {
                title: 'Про что урок',
                list: [
                    'Рынок информационных сайтов, сколько и как на них можно заработать?',
                    'Почему сайты могут создавать любой желающий?',
                    'Каким будет рост вашего сайта?',
                    'Как правильно выбрать направление для вашего будещего сайта?'
                ]
            },
            {
                title: 'Про что урок',
                list: [
                    'Рынок информационных сайтов, сколько и как на них можно заработать?',
                    'Почему сайты могут создавать любой желающий?',
                    'Каким будет рост вашего сайта?',
                    'Как правильно выбрать направление для вашего будещего сайта?'
                ]
            },
            {
                title: 'Про что урок',
                list: [
                    'Рынок информационных сайтов, сколько и как на них можно заработать?',
                    'Почему сайты могут создавать любой желающий?',
                    'Каким будет рост вашего сайта?',
                    'Как правильно выбрать направление для вашего будещего сайта?'
                ]
            },
            {
                title: 'Про что урок',
                list: [
                    'Рынок информационных сайтов, сколько и как на них можно заработать?',
                    'Почему сайты могут создавать любой желающий?',
                    'Каким будет рост вашего сайта?',
                    'Как правильно выбрать направление для вашего будещего сайта?'
                ]
            },
            {
                title: 'Про что урок',
                list: [
                    'Рынок информационных сайтов, сколько и как на них можно заработать?',
                    'Почему сайты могут создавать любой желающий?',
                    'Каким будет рост вашего сайта?',
                    'Как правильно выбрать направление для вашего будещего сайта?'
                ]
            },
            {
                title: 'Про что урок',
                list: [
                    'Рынок информационных сайтов, сколько и как на них можно заработать?',
                    'Почему сайты могут создавать любой желающий?',
                    'Каким будет рост вашего сайта?',
                    'Как правильно выбрать направление для вашего будещего сайта?'
                ]
            },
            {
                title: 'Про что урок',
                list: [
                    'Рынок информационных сайтов, сколько и как на них можно заработать?',
                    'Почему сайты могут создавать любой желающий?',
                    'Каким будет рост вашего сайта?',
                    'Как правильно выбрать направление для вашего будещего сайта?'
                ]
            },
            {
                title: 'Про что урок',
                list: [
                    'Рынок информационных сайтов, сколько и как на них можно заработать?',
                    'Почему сайты могут создавать любой желающий?',
                    'Каким будет рост вашего сайта?',
                    'Как правильно выбрать направление для вашего будещего сайта?'
                ]
            },
            {
                title: 'Про что урок',
                list: [
                    'Рынок информационных сайтов, сколько и как на них можно заработать?',
                    'Почему сайты могут создавать любой желающий?',
                    'Каким будет рост вашего сайта?',
                    'Как правильно выбрать направление для вашего будещего сайта?'
                ]
            },
            {
                title: 'Про что урок',
                list: [
                    'Рынок информационных сайтов, сколько и как на них можно заработать?',
                    'Почему сайты могут создавать любой желающий?',
                    'Каким будет рост вашего сайта?',
                    'Как правильно выбрать направление для вашего будещего сайта?'
                ]
            },
            {
                title: 'Про что урок',
                list: [
                    'Рынок информационных сайтов, сколько и как на них можно заработать?',
                    'Почему сайты могут создавать любой желающий?',
                    'Каким будет рост вашего сайта?',
                    'Как правильно выбрать направление для вашего будещего сайта?'
                ]
            },
            {
                title: 'Про что урок',
                list: [
                    'Рынок информационных сайтов, сколько и как на них можно заработать?',
                    'Почему сайты могут создавать любой желающий?',
                    'Каким будет рост вашего сайта?',
                    'Как правильно выбрать направление для вашего будещего сайта?'
                ]
            },
            {
                title: 'Про что урок',
                list: [
                    'Рынок информационных сайтов, сколько и как на них можно заработать?',
                    'Почему сайты могут создавать любой желающий?',
                    'Каким будет рост вашего сайта?',
                    'Как правильно выбрать направление для вашего будещего сайта?'
                ]
            },
            {
                title: 'Про что урок',
                list: [
                    'Рынок информационных сайтов, сколько и как на них можно заработать?',
                    'Почему сайты могут создавать любой желающий?',
                    'Каким будет рост вашего сайта?',
                    'Как правильно выбрать направление для вашего будещего сайта?'
                ]
            },
            {
                icon: 'star',
                title: 'Про что урок',
                list: [
                    'Рынок информационных сайтов, сколько и как на них можно заработать?',
                    'Почему сайты могут создавать любой желающий?',
                    'Каким будет рост вашего сайта?',
                    'Как правильно выбрать направление для вашего будещего сайта?'
                ]
            },
            {
                text: '?',
                title: 'Про что урок',
                list: [
                    'Рынок информационных сайтов, сколько и как на них можно заработать?',
                    'Почему сайты могут создавать любой желающий?',
                    'Каким будет рост вашего сайта?',
                    'Как правильно выбрать направление для вашего будещего сайта?'
                ]
            },
        ];

    section.structure.section
        .section__container
            .section__row
                .section__content
                    h2.section__title(class="wow animate__fadeInLeft" data-wow-duration=`1s`) Подробная структура курса
        .structure__wrapper
            .section__container
                .section__row
                    .section__content.structure__content
                        .structure__tabs
                            ul.structure__tabs-list
                                li.structure__tabs-item.structure__tabs-item_active Вводный
                                li.structure__tabs-item Начало
                                li.structure__tabs-item Старт
                                li.structure__tabs-item Вводный
                                li.structure__tabs-item Начало
                                li.structure__tabs-item Старт
                                li.structure__tabs-item Вводный
                                li.structure__tabs-item Начало
                                li.structure__tabs-item Старт
                                li.structure__tabs-item Вводный
                                li.structure__tabs-item Начало
                                li.structure__tabs-item Старт
                                li.structure__tabs-item Вводный
                                li.structure__tabs-item Начало
                                li.structure__tabs-item Старт
                                li.structure__tabs-item Вводный
                        .structure__slider
                            .structure__dots-wrapper(class="wow animate__fadeInUp" data-wow-duration=`2s`)
                                .structure__dots-header Урок №<span class="structure__dots-number">1</span>
                                    +icon('arrow-right', 'structure__dot-arrow')
                                .structure__dots
                                    each val, index in slider
                                        if !val.icon
                                            .structure__dot
                                                span.structure__dot-mobile= `Урок №${index + 1}`
                                                span.structure__dot-desktop= (!val.text) ? index + 1 : val.text
                                        else
                                            .structure__dot
                                                span.structure__dot-mobile= `Урок №${index + 1}`
                                                +icon(val.icon, 'structure__dot-icon')
                                span.structure__progress
                            .structure__slides-wrapper.card.card_pink(class="wow animate__fadeInUp" data-wow-duration=`2s`)
                                button.structure__arrow.structure__arrow_left
                                    +icon('arrow-left', 'structure__arrow-icon')
                                button.structure__arrow.structure__arrow_right
                                    +icon('arrow-right', 'structure__arrow-icon')
                                .structure__slides
                                    each val, index in slider
                                        .structure__slide
                                            .card__inner
                                                h3.card__title
                                                    span.structure__title-desktop= val.title
                                                    span.structure__title-mobile= `Урок №${index + 1}`
                                                ul.list
                                                    each value, i in val.list
                                                        li.list__item
                                                            +icon('check', 'list__icon')
                                                            p.list__details= value
